body
{
    background-color: #ccc;
    width: 800px;
    margin: auto;
}

header
{
    background-color: #3f8dbf;
    color: #fcae21;
    text-align: center;
}

footer
{
    background-color: #444;
}

footer p
{
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
}

nav ul
{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li
{
    font-family: sans-serif;
    width: 120px;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

nav a
{
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

header h1
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
}

header h2
{
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

section
{
    margin: auto;
    width: 800px;
    background-color: #f7f7f7;
}

section h2
{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

form
{
    font-family: sans-serif;
}

#submit_form
{
    color: #fff;
    background-color: #444;
    border-radius: 25px;
}

#submit_form:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

.error
{
    color : red;
}
