body
{
    background-color: #ccc;
    width: 800px;
    margin: auto;
}

header
{
    background-color: #3f8dbf;
    color: #fcae21;
    text-align: center;
}

footer
{
    background-color: #444;
}

footer p
{
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    margin: 0;
}

nav ul
{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li
{
    font-family: sans-serif;
    width: 120px;
    font-size: 1.4em;
    display: inline-block;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

nav a
{
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

header h1
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
}

header h2
{
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

header h4
{
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

section
{
    margin: auto;
    width: 800px;
}

section h2
{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

form
{
    font-family: sans-serif;
}

input
{
    border: solid #fcae21;
}

input[type="submit"]
{
    color: #fff;
    background-color: #444;
    border-radius: 25px;
}

input[type="submit"]:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

input[type="button"]
{
    color: #fff;
    background-color: #444;
    border-radius: 25px;
}

input[type="button"]:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

#submit_form
{
    color: #fff;
    background-color: #444;
    border-radius: 25px;
}

#submit_form:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

.error
{
    color : red;
}

table
{
    margin: 20px auto;
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
}

th
{
    text-align: center;
    padding: 10px;
    background-color: #444;
    border: solid #fcae21;
}

td
{
    text-align: center;
    padding: 10px;
    background-color: #3f8dbf;
    border: solid #fcae21;
}

table a
{
    text-decoration: none;
    padding: 5px;
    color: #fff;
    background-color: #444;
    border-radius: 10px;
}

table a:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 10px;
}

section#my_polls h2 a#create_poll
{
    margin-left: 535px;
}

#my_polls h2
{
    color: #fcae21;
    padding: 5px 10px;
    background-color: #3f8dbf;
    border-radius: 25px;
}

#my_polls h3
{
    padding-bottom: 10px;
    border-bottom: solid #3f8dbf;
    font-family: sans-serif;
}

#my_polls a
{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    padding: 5px 15px;
    background-color: #444;
    border-radius: 25px;
}

#my_polls a:hover
{
    color: #fcae21;
    background-color: #3f8dbf;
    border-radius: 25px;
}

section#answer_form
{
    width: 600px;
}

section#answer_form form
{
    margin: 20px auto;
}

section#answer_form img
{
    width: 300px;
    margin: 0 150px;
}

section#answer_form ul
{
    list-style: none;
}

section#answer_form form h1
{
    color: #fcae21;
    padding: 5px 10px;
    background-color: #3f8dbf;
    border-radius: 25px;
}

section#answer_form ul li h2
{
    color: #fcae21;
    padding: 5px 10px;
    background-color: #3f8dbf;
    border-radius: 25px;
}