<form name="signUp" action='signUp.php' method='POST' enctype="multipart/form-data">
    <fieldset>
        <legend>Sign up</legend>

        <label> Username:
            <input type="text" name="username" required="required">
        </label>

        <label> Password:
            <input type="password" name="password" required="required">
        </label>

        <label> Confirm password:
            <input type="password" name="confirmPassword" required="required">
        </label>

        <label> Age:
            <input type="number" name="age" value="18" min="18" max="100" step="1">
        </label>

        Sex:
        <label>Male:
            <input type="radio" name="gender" value="male">
        </label>

        <label>Female:
            <input type="radio" name="gender" value="female">
        </label>

        <label> E-mail:
            <input type="email" name="email" required="required">
        </label>

        <!--
        Telephone: <br>
        <input type='tel' name='telephone' required="required"> <br>

        Choose image for avatar: <br>
        <input type="file" name="userAvatar" required="required"> <br>
        !-->

        <input type="image" src="images/submit-icon.png"	 alt="Submit" align="right" width="64" height="64">
    </fieldset>
</form>