<form id="signIn" action="signIn.php" method="post">
    <fieldset>
        <legend>Sign in</legend>

        <label>Username:
            <input type="text" name="username_sign_in" required="required">
        </label>

        <label>Password:
            <input type="password" name="password_sign_in" required="required">
        </label>

        <input type="image" src="images/submit-icon.png" alt="Submit" align="right" width="64" height="64">

    </fieldset>
</form>

<!--
<audio id="audio" controls autoplay loop>
    <source src="music/Spokey Dokey.mp3" type="audio/mpeg">
</audio>
!-->